.todofunction{
    /*website layout*/
    display: grid;
    justify-content: center;
    align-items: center;
    /*website design erstellt mit css-glass-morphism-generator*/
    border-radius: 25px;
    backdrop-filter: blur(38.6px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    width: 100%;
    min-height: 70px;
    mix-blend-mode: hard-light;

}